{
  "swagger": "2.0",
  "info": {
    "version": "2.2.1",
    "title": "API"
  },
  "host": "api.hsbc.com",
  "schemes": ["https"],
  "consumes": ["application/json"],
  "produces": ["application/prs.openbanking.opendata.v2.2+json"],
  "paths": {
    "/open-banking/v2.2/atms": {
      "get": {
        "tags": ["ATMs"],
        "description": "This API will return data about all our ATMs and is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/atms/country/{country}": {
      "get": {
        "tags": ["ATMs"],
        "description": "This extended API will return data about all ATMs in the specified country. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;GB&quot;",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/atms/postcode/{postcode}": {
      "get": {
        "tags": ["ATMs"],
        "description": "This extended API will return data about all ATMs within a 5 mile radius of the specified postcode. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "postcode",
          "in": "path",
          "description": "Letters and numerals only. No spaces or special characters. eg  &quotSW1A1AA&quot",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/atms/country/{country}/town/{town}": {
      "get": {
        "tags": ["ATMs"],
        "description": "This extended API will return data about all ATMs in the specified town. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;GB&quot;",
          "required": true,
          "type": "string"
        }, {
          "name": "town",
          "in": "path",
          "description": "Town name, not case sensitive",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/atms/geo-location/lat/{latitude}/long/{longitude}": {
      "get": {
        "tags": ["ATMs"],
        "description": "This extended API will data about all ATMs within a specified radius (1 to 10 miles) of the specified latitude and longitude. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "latitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "longitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "radius",
          "in": "query",
          "description": "Number of miles (1 to 10) as an integer. Default = 1",
          "required": true,
          "type": "number"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ATMDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v2.2/branches": {
      "get": {
        "tags": ["Branches"],
        "description": "This API will return the branch details for all branches and is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/branches/country/{country}": {
      "get": {
        "tags": ["Branches"],
        "description": "This extended API will return the branch details for all branches in the specified country. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;GB&quot;",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/branches/postcode/{postcode}": {
      "get": {
        "tags": ["Branches"],
        "description": "This extended API will return the branch details for all branches within a 5 mile radius of the specified postcode. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "postcode",
          "in": "path",
          "description": "Letters and numerals only. No spaces or special characters. eg. &quotSW1A1AA&quot",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/branches/country/{country}/town/{town}": {
      "get": {
        "tags": ["Branches"],
        "description": "This extended API will return the branch details for all branches in the specified town. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "country",
          "in": "path",
          "description": "The ISO country code e.g. &quot;GB&quot;",
          "required": true,
          "type": "string"
        }, {
          "name": "town",
          "in": "path",
          "description": "Town name, not case sensitive",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/branches/sortcode/{sortcode}": {
      "get": {
        "tags": ["Branches"],
        "description": "This extended API will return the branch details for a branch specified by its sort code. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "sortcode",
          "in": "path",
          "description": "6 digit number with no spaces or special characters. eg. &quot400003&quot",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/branches/geo-location/lat/{latitude}/long/{longitude}": {
      "get": {
        "tags": ["Branches"],
        "description": "This API will return the branch details for all branches within a specified radius (1 to 10 miles) of the specified latitude and longitude. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "latitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot51.50551621597067&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "longitude",
          "in": "path",
          "description": "Positive or negative decimal value in degrees. eg &quot-0.0180120225995&quot",
          "required": true,
          "type": "string"
        }, {
          "name": "radius",
          "in": "query",
          "description": "Number of miles (1 to 10) as an integer. Default = 1",
          "required": true,
          "type": "number"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BranchDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v2.2/personal-current-accounts": {
      "get": {
        "tags": ["Products PCA"],
        "description": "This API will return data about all PCA productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PCADefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/personal-current-accounts/segment/{segment}": {
      "get": {
        "tags": ["Products PCA"],
        "description": "This extended API will return data about all PCA products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "segment",
          "in": "path",
          "description": "Segment name from this list&#58; &quot;Basic&quot;, &quot;General&quot;, &quot;Graduate&quot;, &quot;Packaged&quot;, &quot;Premium&quot;, &quot;Reward&quot;, &quot;Student&quot;, &quot;YoungAdult&quot;, &quot;Youth&quot;.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PCADefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v2.2/business-current-accounts": {
      "get": {
        "tags": ["Products BCA"],
        "description": "This API will return data about all BCA productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BCADefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/business-current-accounts/segment/{segment}": {
      "get": {
        "tags": ["Products BCA"],
        "description": "This extended API will return data about all BCA products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "segment",
          "in": "path",
          "description": "Segment name from this list&#58; &quot;ClientAccount&quot;, &quot;Standard&quot;, &quot;NonCommercial&quot;, &quot;Religious&quot;, &quot;SectorSpecific&quot;, &quot;Startup&quot;, &quot;Switcher&quot;.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BCADefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v2.2/unsecured-sme-loans": {
      "get": {
        "tags": ["Products SME Lending"],
        "description": "This API will return data about all SME lending productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SMELendingDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/unsecured-sme-loans/segment/{segment}": {
      "get": {
        "tags": ["Products SME Lending"],
        "description": "This extended API will return data about all SME lending products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "segment",
          "in": "path",
          "description": "Segment name from this list&#58; &quot;AgricultureSector&quot;, &quot;Business&quot;, &quot;FixedGroup&quot;, &quot;FlexibleBusinessLoan&quot;, &quot;GovernmentScheme&quot;, &quot;Other&quot;, &quot;SectorSpecific&quot;.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SMELendingDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/open-banking/v2.2/commercial-credit-cards": {
      "get": {
        "tags": ["Products Commercial Credit Cards"],
        "description": "This API will return data about all commercial credit cards productsand is prepared to the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. It is regulated by the UK Competition and Markets Authority (CMA). Data is only available for the United Kingdom.",
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CCCDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    },
    "/x-open-banking/v2.2/commercial-credit-cards/segment/{segment}": {
      "get": {
        "tags": ["Products Commercial Credit Cards"],
        "description": "This extended API will return data about all commercial credit cards products for the specified segment. It is based-on the Open Banking standards as defined by the Open Banking Implementation Entity (OBIE) in data dictionary version 2.2. The extended functionality may not fully adhere to the non-functional requirements of the regulator. Data is only available for the United Kingdom.",
        "parameters": [{
          "name": "segment",
          "in": "path",
          "description": "Segment name from this list&#58 &quot;General&quot;.",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CCCDefinitionMeta"
            }
          },
          "400": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition400"
            }
          },
          "408": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition408"
            }
          },
          "429": {
            "description": "Bad request",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition429"
            }
          },
          "500": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition500"
            }
          },
          "503": {
            "description": "System error",
            "schema": {
              "$ref": "#/definitions/ErrorDefinition503"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "ATMDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ATMDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "BranchDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BranchDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "PCADefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PCADefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "BCADefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BCADefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "SMELendingDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SMELendingDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "CCCDefinitionMeta": {
      "properties": {
        "meta": {
          "$ref": "#/definitions/MetaDefinition"
        },
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/CCCDefinition"
          }
        }
      },
      "required": ["meta", "data"]
    },
    "MetaDefinition": {
      "title": "Meta data",
      "type": "object",
      "properties": {
        "LastUpdated": {
          "type": "string",
          "format": "date-time"
        },
        "TotalResults": {
          "type": "integer"
        },
        "Agreement": {
          "type": "string",
          "enum": ["Use of the APIs and any related data will be subject to the terms of the Open Licence and subject to terms and conditions"]
        },
        "License": {
          "description": "Open Banking License",
          "type": "string",
          "format": "uri",
          "enum": ["https://www.openbanking.org.uk/open-licence"]
        },
        "TermsOfUse": {
          "description": "Open Banking Terms of Use",
          "type": "string",
          "format": "uri",
          "enum": ["https://www.openbanking.org.uk/terms"]
        }
      },
      "required": ["LastUpdated", "TotalResults", "Agreement", "License", "TermsOfUse"],
      "additionalProperties": false
    },
    "ATMDefinition": {
      "properties": {
        "Brand": {
          "description": "Brand of the Acquirer of transactions captured by the ATM",
          "type": "array",
          "title": "Brand",
          "items": {
            "description": "Brand of the Acquirer of transactions captured by the ATM",
            "type": "object",
            "properties": {
              "BrandName": {
                "description": "Brand Name that an organisation uses to market its products or services to a consumer",
                "title": "BrandName",
                "type": "string",
                "minLength": 1,
                "maxLength": 140
              },
              "ATM": {
                "description": "ATM information.",
                "type": "array",
                "title": "ATM",
                "items": {
                  "description": "ATM information.",
                  "type": "object",
                  "properties": {
                    "Identification": {
                      "description": "ATM terminal device identification for the acquirer and the issuer.",
                      "title": "Identification",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    },
                    "SupportedLanguages": {
                      "description": "Identification of the language name according to the ISO 639-1 codes. The type is validated by the list of values coded with two alphabetic characters, defined in the standard.",
                      "title": "SupportedLanguages",
                      "type": "array",
                      "items": {
                        "description": "Identification of the language name according to the ISO 639-1 codes. The type is validated by the list of values coded with two alphabetic characters, defined in the standard.",
                        "type": "string",
                        "pattern": "[a-z]{2}"
                      }
                    },
                    "ATMServices": {
                      "description": "Describes the type of transaction available for a customer on an ATM.",
                      "title": "ATMServices",
                      "type": "array",
                      "items": {
                        "description": "Describes the type of transaction available for a customer on an ATM.",
                        "type": "string",
                        "enum": ["Balance", "BillPayments", "CashDeposits", "CharityDonation", "ChequeDeposits", "CashWithdrawal", "EnvelopeDeposit", "FastCash", "MobileBankingRegistration", "MobilePaymentRegistration", "MobilePhoneTopUp", "OrderStatement", "Other", "PINActivation", "PINChange", "PINUnblock", "MiniStatement"]
                      }
                    },
                    "Accessibility": {
                      "description": "Indicates Types of Accessibility",
                      "title": "Accessibility",
                      "type": "array",
                      "items": {
                        "description": "Indicates Types of Accessibility",
                        "type": "string",
                        "enum": ["AudioCashMachine", "AutomaticDoors", "ExternalRamp", "InductionLoop", "InternalRamp", "LevelAccess", "LowerLevelCounter", "Other", "WheelchairAccess"]
                      }
                    },
                    "Access24HoursIndicator": {
                      "description": "Indicates that the ATM is available for use by customers 24 hours per day",
                      "title": "Access24HoursIndicator",
                      "type": "boolean"
                    },
                    "SupportedCurrencies": {
                      "description": "All ISO 4217 defined currency  supported by the ATM.",
                      "title": "SupportedCurrencies",
                      "type": "array",
                      "items": {
                        "description": "ISO 4217 defined currency",
                        "type": "string",
                        "pattern": "[A-Z]{3}"
                      },
                      "minItems": 1
                    },
                    "MinimumPossibleAmount": {
                      "description": "Minimum amount allowed for a transaction in the service.",
                      "title": "MinimumPossibleAmount",
                      "type": "string",
                      "pattern": "^-?\\d{1,10}\\.?\\d{0,2}$"
                    },
                    "Note": {
                      "description": "Summary description of the ATM.",
                      "title": "Note",
                      "type": "array",
                      "items": {
                        "description": "maxLength 2000 text",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2000
                      }
                    },
                    "OtherAccessibility": {
                      "description": "Enter a new code , name and description for any other ATM accessibility options",
                      "type": "array",
                      "title": "OtherAccessibility",
                      "items": {
                        "description": "Enter a new code , name and description for any other ATM accessibility options",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                            "title": "Code",
                            "type": "string",
                            "pattern": "^\\w{0,4}$",
                            "minLength": 0,
                            "maxLength": 4
                          },
                          "Name": {
                            "description": "Long name associated with the code",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "Description": {
                            "description": "Description to describe the purpose of the code",
                            "title": "Description",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 350
                          }
                        },
                        "required": ["Name", "Description"]
                      },
                      "additionalProperties": false
                    },
                    "OtherATMServices": {
                      "description": "Enter a new code , name and description for any other ATM Service",
                      "type": "array",
                      "title": "OtherATMServices",
                      "items": {
                        "description": "Enter a new code , name and description for any other ATM Service",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                            "title": "Code",
                            "type": "string",
                            "pattern": "^\\w{0,4}$",
                            "minLength": 0,
                            "maxLength": 4
                          },
                          "Name": {
                            "description": "Long name associated with the code",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "Description": {
                            "description": "Description to describe the purpose of the code",
                            "title": "Description",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 350
                          }
                        },
                        "required": ["Name", "Description"]
                      },
                      "additionalProperties": false
                    },
                    "Branch": {
                      "description": "Information that locates and identifies a specific branch of a financial institution.",
                      "type": "object",
                      "title": "Branch",
                      "properties": {
                        "Identification": {
                          "description": "Unique and unambiguous identification of a branch of a financial institution.",
                          "title": "Identification",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        }
                      },
                      "additionalProperties": false
                    },
                    "Location": {
                      "description": "Location of the ATM.",
                      "type": "object",
                      "title": "Location",
                      "properties": {
                        "LocationCategory": {
                          "description": "Indicates the environment of the ATM.",
                          "title": "LocationCategory",
                          "type": "array",
                          "items": {
                            "description": "Indicates the environment of the ATM.",
                            "type": "string",
                            "enum": ["BranchExternal", "BranchInternal", "BranchLobby", "Other", "RetailerOutlet", "RemoteUnit"]
                          }
                        },
                        "OtherLocationCategory": {
                          "description": "Enter a new code , name and description for any other location category",
                          "type": "array",
                          "title": "OtherLocationCategory",
                          "items": {
                            "description": "Enter a new code , name and description for any other location category",
                            "type": "object",
                            "properties": {
                              "Code": {
                                "description": "The four letter Mnemonic used within an XML file to identify a code",
                                "title": "Code",
                                "type": "string",
                                "pattern": "^\\w{0,4}$",
                                "minLength": 0,
                                "maxLength": 4
                              },
                              "Name": {
                                "description": "Long name associated with the code",
                                "title": "Name",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 70
                              },
                              "Description": {
                                "description": "Description to describe the purpose of the code",
                                "title": "Description",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 350
                              }
                            },
                            "required": ["Name", "Description"]
                          },
                          "additionalProperties": false
                        },
                        "Site": {
                          "description": "Used by a Financial Institution internally to identify the location of an ATM.",
                          "type": "object",
                          "title": "Site",
                          "properties": {
                            "Identification": {
                              "description": "ATM site identification for the Financial Institution.",
                              "title": "Identification",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 35
                            },
                            "Name": {
                              "description": "ATM site name as used by Financial Institution.",
                              "title": "Name",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 140
                            }
                          },
                          "additionalProperties": false
                        },
                        "PostalAddress": {
                          "description": "Information that locates and identifies a specific address, as defined by postal services or in free format text.",
                          "type": "object",
                          "title": "PostalAddress",
                          "properties": {
                            "AddressLine": {
                              "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                              "title": "AddressLine",
                              "type": "array",
                              "items": {
                                "description": "maxLength 70 text",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 70
                              },
                              "minItems": 0,
                              "maxItems": 7
                            },
                            "BuildingNumber": {
                              "description": "Name or Number that identifies the position of a building on a street.",
                              "title": "BuildingNumber",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 350
                            },
                            "StreetName": {
                              "description": "Name of a street or thoroughfare.",
                              "title": "StreetName",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 70
                            },
                            "TownName": {
                              "description": "Name of a built-up area, with defined boundaries, and a local government.",
                              "title": "TownName",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 35
                            },
                            "CountrySubDivision": {
                              "description": "Identifies a subdivision of a country, for instance state, region, county.",
                              "title": "CountrySubDivision",
                              "type": "array",
                              "items": {
                                "description": "maxLength 35 text",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 35
                              },
                              "minItems": 0,
                              "maxItems": 2
                            },
                            "Country": {
                              "description": "Nation with its own government, occupying a particular territory.",
                              "title": "Country",
                              "type": "string",
                              "pattern": "[A-Z]{2}"
                            },
                            "PostCode": {
                              "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.",
                              "title": "PostCode",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 16
                            },
                            "GeoLocation": {
                              "description": "Geographic location of the ATM specified by geographic coordinates or UTM coordinates.",
                              "type": "object",
                              "title": "GeoLocation",
                              "properties": {
                                "GeographicCoordinates": {
                                  "description": "Location on the earth specified by two numbers representing vertical and horizontal position.",
                                  "type": "object",
                                  "title": "GeographicCoordinates",
                                  "properties": {
                                    "Latitude": {
                                      "description": "Latitude measured in decimal degrees.",
                                      "title": "Latitude",
                                      "type": "string",
                                      "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                                    },
                                    "Longitude": {
                                      "description": "Angular measurement of the distance of a location on the earth east or west of the Greenwich observatory.\nThe longitude is measured in decimal degrees.",
                                      "title": "Longitude",
                                      "type": "string",
                                      "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                                    }
                                  },
                                  "additionalProperties": false,
                                  "required": ["Latitude", "Longitude"]
                                }
                              },
                              "additionalProperties": false,
                              "required": ["GeographicCoordinates"]
                            }
                          },
                          "additionalProperties": false
                        }
                      },
                      "additionalProperties": false,
                      "required": ["PostalAddress"]
                    }
                  },
                  "required": ["Identification", "SupportedCurrencies", "Location"]
                },
                "additionalProperties": false,
                "minItems": 1
              }
            },
            "required": ["BrandName", "ATM"]
          },
          "additionalProperties": false,
          "minItems": 1
        }
      },
      "required": ["Brand"],
      "description": "Environment of the ATM.",
      "type": "object"
    },
    "BranchDefinition": {
      "properties": {
        "Brand": {
          "description": "Brand owned by an organisation",
          "type": "array",
          "title": "Brand",
          "items": {
            "description": "Brand owned by an organisation",
            "type": "object",
            "properties": {
              "BrandName": {
                "description": "Brand Name that an organisation uses to market its products or services to a consumer",
                "title": "BrandName",
                "type": "string",
                "minLength": 1,
                "maxLength": 140
              },
              "Branch": {
                "description": "Information that locates and identifies a specific branch of a financial institution.",
                "type": "array",
                "title": "Branch",
                "items": {
                  "description": "Information that locates and identifies a specific branch of a financial institution.",
                  "type": "object",
                  "properties": {
                    "Identification": {
                      "description": "Unique and unambiguous identification of a branch of a financial institution.",
                      "title": "Identification",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    },
                    "SequenceNumber": {
                      "description": "Sequence Number that is used in conjunction with Identification to uniquely identify a branch. Physical branches should have 0 assigned, mobile and sub branches should have 1,2,3....etc. assigned.",
                      "title": "SequenceNumber",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    },
                    "Name": {
                      "description": "Name by which a branch is known and which is usually used to identify that branch.",
                      "title": "Name",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 140
                    },
                    "Type": {
                      "description": "Codeset to indicate if a branch is physically in 1 location or is mobile",
                      "title": "Type",
                      "type": "string",
                      "enum": ["Mobile", "Physical"]
                    },
                    "SortCode": {
                      "description": "United Kingdom (UK) Sort Code - identifies British financial institutions on the British national clearing systems. The sort code, which is a six-digit number, is usually formatted as three pairs of numbers, for example 12-34-56. It identifies both the bank and the branch(s) where the account is held.",
                      "title": "SortCode",
                      "type": "array",
                      "items": {
                        "description": "maxLength 8 text",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 8
                      }
                    },
                    "Photo": {
                      "description": "Image related to the branch",
                      "title": "Photo",
                      "type": "string"
                    },
                    "CustomerSegment": {
                      "description": "The marketing segment which the branch is able to address in terms of customer type. Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another",
                      "title": "CustomerSegment",
                      "type": "array",
                      "items": {
                        "description": "The marketing segment which the branch is able to address in terms of customer type. Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another",
                        "type": "string",
                        "enum": ["Business", "Corporate", "Other", "Personal", "Private", "Premier", "Select", "SME", "Wealth"]
                      },
                      "minItems": 1
                    },
                    "ServiceAndFacility": {
                      "description": "Service/Facilities offered at a branch.",
                      "title": "ServiceAndFacility",
                      "type": "array",
                      "items": {
                        "description": "Service/Facilities offered at a branch.",
                        "type": "string",
                        "enum": ["AssistedServiceCounter", "ExternalATM", "AccountVerificationService", "BusinessCounter", "BureauDeChange", "BusinessDepositTerminal", "BusinessITSupport", "CardIssuanceFacility", "CollectionLockers", "CounterServices", "ExternalQuickServicePoint", "InternalQuickServicePoint", "InternalATM", "LodgementDevice", "MortgageAdvisor", "MeetingRooms", "NightSafe", "OnlineBankingPoint", "OnDemandCurrency", "Other", "Parking", "PremierCounter", "QuickDeposit", "SaturdayCounterService", "StatementPrinter", "SelfServiceAccountOpening", "VideoBanking", "WiFi"]
                      }
                    },
                    "Accessibility": {
                      "description": "Accessibility is the ability and ease a customer can access a service, good, associate, or facility. Features which make the Bank accessible to disabled people",
                      "title": "Accessibility",
                      "type": "array",
                      "items": {
                        "description": "Accessibility is the ability and ease a customer can access a service, good, associate, or facility. Features which make the Bank accessible to disabled people",
                        "type": "string",
                        "enum": ["AutomaticDoors", "AudioCashMachine", "ExternalRamp", "HelpingHandUnit", "InductionLoop", "InternalRamp", "LevelAccess", "LowerLevelCounter", "Other", "WheelchairAccess"]
                      }
                    },
                    "Note": {
                      "description": "Summary description of services, facility and availability.",
                      "title": "Note",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 2000
                    },
                    "OtherCustomerSegment": {
                      "description": "Enter a new code , name and description for any other Customer Segment",
                      "type": "array",
                      "title": "OtherCustomerSegment",
                      "items": {
                        "description": "Enter a new code , name and description for any other Customer Segment",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                            "title": "Code",
                            "type": "string",
                            "pattern": "^\\w{0,4}$",
                            "minLength": 0,
                            "maxLength": 4
                          },
                          "Name": {
                            "description": "Long name associated with the code",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "Description": {
                            "description": "Description to describe the purpose of the code",
                            "title": "Description",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 350
                          }
                        },
                        "required": ["Name", "Description"]
                      },
                      "additionalProperties": false
                    },
                    "OtherAccessibility": {
                      "description": "Enter any new code , name and description for any other Accessibility",
                      "type": "array",
                      "title": "OtherAccessibility",
                      "items": {
                        "description": "Enter any new code , name and description for any other Accessibility",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                            "title": "Code",
                            "type": "string",
                            "pattern": "^\\w{0,4}$",
                            "minLength": 0,
                            "maxLength": 4
                          },
                          "Name": {
                            "description": "Long name associated with the code",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "Description": {
                            "description": "Description to describe the purpose of the code",
                            "title": "Description",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 350
                          }
                        },
                        "required": ["Name", "Description"]
                      },
                      "additionalProperties": false
                    },
                    "OtherServiceAndFacility": {
                      "description": "Enter any new code , name and description for any Other Facility",
                      "type": "array",
                      "title": "OtherServiceAndFacility",
                      "items": {
                        "description": "Enter any new code , name and description for any Other Facility",
                        "type": "object",
                        "properties": {
                          "Code": {
                            "description": "The four letter Mnemonic used within an XML file to identify a code",
                            "title": "Code",
                            "type": "string",
                            "pattern": "^\\w{0,4}$",
                            "minLength": 0,
                            "maxLength": 4
                          },
                          "Name": {
                            "description": "Long name associated with the code",
                            "title": "Name",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "Description": {
                            "description": "Description to describe the purpose of the code",
                            "title": "Description",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 350
                          }
                        },
                        "required": ["Name", "Description"]
                      },
                      "additionalProperties": false
                    },
                    "Availability": {
                      "description": "Days and times defining when the branch is available for use by a customer",
                      "type": "object",
                      "title": "Availability",
                      "properties": {
                        "StandardAvailability": {
                          "description": "Standard hours of availability for the branch of the organisation",
                          "type": "object",
                          "title": "StandardAvailability",
                          "properties": {
                            "Day": {
                              "description": "Working day information",
                              "type": "array",
                              "title": "Day",
                              "items": {
                                "description": "Working day information",
                                "type": "object",
                                "properties": {
                                  "Name": {
                                    "description": "Specifies the day of the week",
                                    "title": "Name",
                                    "type": "string",
                                    "enum": ["Friday", "Monday", "Saturday", "Sunday", "Thursday", "Tuesday", "Wednesday"]
                                  },
                                  "Notes": {
                                    "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                    "title": "Notes",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 2000
                                  },
                                  "OpeningHours": {
                                    "description": "Opening & Closing Times of a branch of an organisation",
                                    "type": "array",
                                    "title": "OpeningHours",
                                    "items": {
                                      "description": "Opening & Closing Times of a branch of an organisation",
                                      "type": "object",
                                      "properties": {
                                        "OpeningTime": {
                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                          "title": "OpeningTime",
                                          "type": "string",
                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                        },
                                        "ClosingTime": {
                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                          "title": "ClosingTime",
                                          "type": "string",
                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                        }
                                      },
                                      "required": ["OpeningTime", "ClosingTime"]
                                    },
                                    "additionalProperties": false,
                                    "minItems": 1
                                  }
                                },
                                "required": ["Name", "OpeningHours"]
                              },
                              "additionalProperties": false,
                              "minItems": 1,
                              "maxItems": 7
                            }
                          },
                          "additionalProperties": false,
                          "required": ["Day"]
                        },
                        "NonStandardAvailability": {
                          "description": "Non-standard hours of availability for a branch of an organisation",
                          "type": "object",
                          "title": "NonStandardAvailability",
                          "properties": {
                            "Name": {
                              "description": "Name provided for non-standard opening periods e.g. Christmas",
                              "title": "Name",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 140
                            },
                            "StartDate": {
                              "description": "A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.",
                              "title": "StartDate",
                              "type": "string",
                              "format": "date"
                            },
                            "EndDate": {
                              "description": "A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.",
                              "title": "EndDate",
                              "type": "string",
                              "format": "date"
                            },
                            "Notes": {
                              "description": "Notes related to the Non-standard hours e.g. During shrimp season, the branch has extended opening hours",
                              "title": "Notes",
                              "type": "string",
                              "minLength": 1,
                              "maxLength": 2000
                            },
                            "Day": {
                              "description": "Working day information",
                              "type": "array",
                              "title": "Day",
                              "items": {
                                "description": "Working day information",
                                "type": "object",
                                "properties": {
                                  "Name": {
                                    "description": "Specifies the day of the week",
                                    "title": "Name",
                                    "type": "string",
                                    "enum": ["Friday", "Monday", "Saturday", "Sunday", "Thursday", "Tuesday", "Wednesday"]
                                  },
                                  "Notes": {
                                    "description": "Specify any note that is related the particular opening day e.g. Closed half day on Monday",
                                    "title": "Notes",
                                    "type": "string",
                                    "minLength": 1,
                                    "maxLength": 2000
                                  },
                                  "OpeningHours": {
                                    "description": "Opening & Closing Times of a branch of an organisation",
                                    "type": "array",
                                    "title": "OpeningHours",
                                    "items": {
                                      "description": "Opening & Closing Times of a branch of an organisation",
                                      "type": "object",
                                      "properties": {
                                        "OpeningTime": {
                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                          "title": "OpeningTime",
                                          "type": "string",
                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                        },
                                        "ClosingTime": {
                                          "description": "A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in \"XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004\" which is aligned with ISO 8601.\nNote on the time format:\n1) beginning / end of calendar day\n00:00:00 = the beginning of a calendar day\n24:00:00 = the end of a calendar day\n2) fractions of second in time format\nDecimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.",
                                          "title": "ClosingTime",
                                          "type": "string",
                                          "pattern": "^(2[0-3]|[01][0-9]):?([0-5][0-9])$"
                                        }
                                      },
                                      "required": ["OpeningTime", "ClosingTime"]
                                    },
                                    "additionalProperties": false,
                                    "minItems": 1
                                  }
                                },
                                "required": ["Name", "OpeningHours"]
                              },
                              "additionalProperties": false,
                              "minItems": 0,
                              "maxItems": 7
                            }
                          },
                          "additionalProperties": false,
                          "required": ["Name"]
                        }
                      },
                      "additionalProperties": false,
                      "required": ["StandardAvailability"]
                    },
                    "ContactInfo": {
                      "description": "Communication device number or electronic address used for communication.",
                      "type": "array",
                      "title": "ContactInfo",
                      "items": {
                        "description": "Communication device number or electronic address used for communication.",
                        "type": "object",
                        "properties": {
                          "ContactType": {
                            "description": "Contact type such Phone, Fax and email",
                            "title": "ContactType",
                            "type": "string",
                            "enum": ["AlternateEmail", "AlternateFax", "AlternatePhone", "Email", "Fax", "Other", "Phone"]
                          },
                          "ContactContent": {
                            "description": "Collection of information that identifies a phone/Fax number/ email, as defined by telecom services.",
                            "title": "ContactContent",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 256
                          },
                          "ContactDescription": {
                            "description": "Description of contact such as main phone number, alternate phone number, Fax number, alternate fax number, email and alternate email",
                            "title": "ContactDescription",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "OtherContactType": {
                            "description": "Other contact type which is not in the standard code list",
                            "type": "object",
                            "title": "OtherContactType",
                            "properties": {
                              "Code": {
                                "description": "The four letter Mnemonic used whithin an XML file to identify a code",
                                "title": "Code",
                                "type": "string",
                                "pattern": "^\\w{0,4}$",
                                "minLength": 0,
                                "maxLength": 4
                              },
                              "Name": {
                                "description": "Long name associated with the code",
                                "title": "Name",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 70
                              },
                              "Description": {
                                "description": "Description to describe the purpose of the code",
                                "title": "Description",
                                "type": "string",
                                "minLength": 1,
                                "maxLength": 350
                              }
                            },
                            "additionalProperties": false,
                            "required": ["Name", "Description"]
                          }
                        },
                        "required": ["ContactType", "ContactContent"]
                      },
                      "additionalProperties": false
                    },
                    "PostalAddress": {
                      "description": "Information that locates and identifies a specific address, as defined by postal services.",
                      "type": "object",
                      "title": "PostalAddress",
                      "properties": {
                        "AddressLine": {
                          "description": "Information that locates and identifies a specific address, as defined by postal services, that is presented in free format text.",
                          "title": "AddressLine",
                          "type": "array",
                          "items": {
                            "description": "maxLength 70 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 70
                          },
                          "minItems": 0,
                          "maxItems": 7
                        },
                        "BuildingNumber": {
                          "description": "Name or Number that identifies the position of a building on a street.",
                          "title": "BuildingNumber",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 350
                        },
                        "StreetName": {
                          "description": "Name of a street or thoroughfare.",
                          "title": "StreetName",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 70
                        },
                        "TownName": {
                          "description": "Name of a built-up area, with defined boundaries, and a local government.",
                          "title": "TownName",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 35
                        },
                        "CountrySubDivision": {
                          "description": "Identifies a subdivision of a country, for instance state, region, county.",
                          "title": "CountrySubDivision",
                          "type": "array",
                          "items": {
                            "description": "maxLength 35 text",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 35
                          },
                          "minItems": 0,
                          "maxItems": 2
                        },
                        "Country": {
                          "description": "Nation with its own government, occupying a particular territory.",
                          "title": "Country",
                          "type": "string",
                          "pattern": "[A-Z]{2}"
                        },
                        "PostCode": {
                          "description": "Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.",
                          "title": "PostCode",
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 16
                        },
                        "GeoLocation": {
                          "description": "Geographic location of the ATM specified by geographic coordinates or UTM coordinates.",
                          "type": "object",
                          "title": "GeoLocation",
                          "properties": {
                            "GeographicCoordinates": {
                              "description": "Location on the earth specified by two numbers representing vertical and horizontal position.",
                              "type": "object",
                              "title": "GeographicCoordinates",
                              "properties": {
                                "Latitude": {
                                  "description": "Latitude measured in decimal degrees",
                                  "title": "Latitude",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                                },
                                "Longitude": {
                                  "description": "Angular measurement of the distance of a location on the earth east or west of the Greenwich observatory.\nThe longitude is measured in decimal degrees.",
                                  "title": "Longitude",
                                  "type": "string",
                                  "pattern": "^-?\\d{1,3}\\.\\d{1,8}$"
                                }
                              },
                              "additionalProperties": false,
                              "required": ["Latitude", "Longitude"]
                            }
                          },
                          "additionalProperties": false,
                          "required": ["GeographicCoordinates"]
                        }
                      },
                      "additionalProperties": false,
                      "required": ["PostCode"]
                    }
                  },
                  "required": ["Identification", "SequenceNumber", "Type", "CustomerSegment", "PostalAddress"]
                },
                "additionalProperties": false,
                "minItems": 1
              }
            },
            "required": ["BrandName", "Branch"]
          },
          "additionalProperties": false,
          "minItems": 1
        }
      },
      "required": ["Brand"],
      "description": "Environment of the branch",
      "type": "object"
    },
    "PCADefinition": {
      "properties": {
        "Brand": {
          "description": "Brand registered by the banking group at https://register.fca.org.uk/",
          "type": "array",
          "title": "Brand",
          "items": {
            "description": "Brand registered by the banking group at https://register.fca.org.uk/",
            "type": "object",
            "properties": {
              "BrandName": {
                "description": "Brand Name that an organisation uses to market its products or services to a consumer as registered at https://register.fca.org.uk/",
                "title": "BrandName",
                "type": "string",
                "minLength": 1,
                "maxLength": 140
              },
              "PCA": {
                "description": "PCA' means a personal current account. That is an account marketed to individuals rather than businesses, which provides the facility to place funds, withdraw cash, hold deposits and to execute payment transaction to and from third parties but does not include any of the following types of accounts: \n(a) an account in which money is held on deposit in a currency other than sterling;  (b) current account mortgage, ie a single account comprising both a personal current account and a mortgage, which is regulated and marketed principally as a mortgage;  \n(c) savings accounts (including instant access savings accounts);  \n(d) credit card accounts where funds are usually paid in for the sole purpose of repaying a credit card debt; and \n(e) e-money accounts.",
                "type": "array",
                "title": "PCA",
                "items": {
                  "description": "PCA' means a personal current account. That is an account marketed to individuals rather than businesses, which provides the facility to place funds, withdraw cash, hold deposits and to execute payment transaction to and from third parties but does not include any of the following types of accounts: \n(a) an account in which money is held on deposit in a currency other than sterling;  (b) current account mortgage, ie a single account comprising both a personal current account and a mortgage, which is regulated and marketed principally as a mortgage;  \n(c) savings accounts (including instant access savings accounts);  \n(d) credit card accounts where funds are usually paid in for the sole purpose of repaying a credit card debt; and \n(e) e-money accounts.",
                  "type": "object",
                  "properties": {
                    "Name": {
                      "description": "The name of the PCA product used for marketing purposes from a customer perspective. I.e. what the customer would recognise.",
                      "title": "Name",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 350
                    },
                    "Identification": {
                      "description": "The unique ID that has been internally assigned by the financial institution to each of the current account banking products they market to their retail and/or small to medium enterprise (SME) customers.",
                      "title": "Identification",
                      "type": "string",
                      "minLength": 1,
                      "maxLength": 35
                    },
                    "Segment": {
                      "description": "Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another.\n\nRead more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd \nFollow us: Investopedia on Facebook\n\nWith respect to PCA products, they are segmented in relation to different markets that they wish to focus on. For example, Basic PCA products target consumers with poor credit history, Reward PCA products target consumers who spend a lot, and Premium products target High Net Worth individuals.",
                      "title": "Segment",
                      "type": "array",
                      "items": {
                        "description": "Market segmentation is a marketing term referring to the aggregating of prospective buyers into groups, or segments, that have common needs and respond similarly to a marketing action. Market segmentation enables companies to target different categories of consumers who perceive the full value of certain products and services differently from one another.\n\nRead more: Market Segmentation http://www.investopedia.com/terms/m/marketsegmentation.asp#ixzz4gfEEalTd \nFollow us: Investopedia on Facebook\n\nWith respect to PCA products, they are segmented in relation to different markets that they wish to focus on. For example, Basic PCA products target consumers with poor credit history, Reward PCA products target consumers who spend a lot, and Premium products target High Net Worth individuals.",
                        "type": "string",
                        "enum": ["Basic", "BenefitAndReward", "CreditInterest", "Cashback", "General", "Graduate", "Other", "Overdraft", "Packaged", "Premium", "Reward", "Student", "YoungAdult", "Youth"]
                      }
                    },
                    "OnSaleIndicator": {
                      "description": "Indicates that the published product is OnSale(value 1) or Back Book (value 0) ",
                      "title": "OnSaleIndicator",
                      "type": "boolean"
                    },
                    "Notes": {
                      "description": "Optional additional notes to supplement the product details",
                      "title": "Notes",
                      "type": "array",
                      "items": {
                        "description": "maxLength 2000 text",
                        "type": "string",
                        "minLength": 1,
                        "maxLength": 2000
                      }
                    },
                    "PCAMarketingState": {
                      "description": "Describes the type of the known state (regular, promotional )  of the product.",
                      "type": "array",
                      "title": "PCAMarketingState",
                      "items": {
                        "description": "Describes the type of the known state (regular, promotional )  of the product.",
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "description": "Unique and unambiguous identification of a  Eligibility Marketing state.",
                            "title": "Identification",
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 35
[...]
